@use "@angular/material" as mat;

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-header .button-container {
  display: flex;
  gap: 10px;
}

.profile-header .title-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.chip-container {
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.profile-content-with-cards {
  padding: 10px 0 40px 0;
}

.profile-card {
  padding: 0px;
  width: 100%;
}

h3 {
  margin: 3px 0;
  font-family: "Funnel Display", sans-serif;
  font-weight: 500;
  font-size: large;
}

.divider {
  height: 15px;
}

.festival-card {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .festival-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

mat-card-title {
  font-family: "Funnel Display", sans-serif;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 14px;
  color: #777;
  margin: 0 0 20px 5px;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

mat-card-actions {
  margin-top: 5px;
}

.main-action {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  margin: 16px;
}

.form-card {
  width: 100%;
  margin-bottom: 40px;
}

.continued {
  margin-top: -10px !important;
}
