<h2 mat-dialog-title>Create {{ category }} Addon</h2>

<mat-dialog-content>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [editable]="false">
      <ng-template matStepLabel>Information</ng-template>

      <p>step 2</p>
    </mat-step>
    <!-- <mat-step [editable]="false">
      <ng-template matStepLabel>Customization</ng-template>

      <p>step 3</p>
    </mat-step> -->
    <mat-step [editable]="false">
      <div class="price-form">
        <ng-template matStepLabel>Price</ng-template>
        <div class="form-fields toggle-form-field">
          <span>
            <mat-slide-toggle
              color="primary"
              [checked]="isFixedPrice"
              [disabled]="true"
            ></mat-slide-toggle>
            Is Price fixed?
          </span>
        </div>
        <!-- ! FIXED PRICES -->
        <div *ngIf="isFixedPrice">
          <form [formGroup]="fixedPriceFormGroup">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Price</mat-label>
              <span matTextPrefix>$ &nbsp;&nbsp;</span>
              <input
                matInput
                type="number"
                formControlName="fixedPriceCtrl"
                required
                step="0.01"
                min="0"
                inputmode="decimal"
              />
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-top: -20px">
  <button
    mat-button
    color="warn"
    (click)="closeDialog()"
    *ngIf="stepper.selectedIndex == 0"
  >
    Cancel
  </button>
  <button
    mat-stroked-button
    (click)="createPackageAddon()"
    *ngIf="stepper.selectedIndex == 0"
    [disabled]="infoFormGroup.invalid"
  >
    Next
  </button>
  <button
    mat-stroked-button
    (click)="done()"
    *ngIf="stepper.selectedIndex == 1"
  >
    Done
  </button>
</mat-dialog-actions>
