<h2 mat-dialog-title>Create Ticket Type</h2>

<mat-dialog-content>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="infoFormGroup" [editable]="false">
      <form [formGroup]="infoFormGroup">
        <ng-template matStepLabel>Ticket Info</ng-template>
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="nameCtrl" required />
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input
              matInput
              type="text"
              formControlName="descriptionCtrl"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Available Number</mat-label>
            <input
              matInput
              type="number"
              formControlName="availableNumberCtrl"
              required
            />
          </mat-form-field>
        </div>

        <button mat-stroked-button (click)="createTicketType()">Next</button>
      </form>
    </mat-step>

    <mat-step [editable]="false">
      <div class="price-form">
        <ng-template matStepLabel>Price Configuration</ng-template>
        <div class="form-fields toggle-form-field">
          <span>
            <mat-slide-toggle
              color="primary"
              [checked]="isFixedPrice"
              (toggleChange)="toggleIsFixed()"
            ></mat-slide-toggle>
            Is Price fixed?
          </span>
        </div>
        <!-- ! FIXED PRICES -->
        <div *ngIf="isFixedPrice">
          <form [formGroup]="fixedPriceFormGroup">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Price</mat-label>
              <span matTextPrefix>$ &nbsp;&nbsp;</span>
              <input
                matInput
                type="number"
                formControlName="fixedPriceCtrl"
                required
                step="0.01"
                min="0"
                inputmode="decimal"
              />
            </mat-form-field>
          </form>
        </div>
        <!-- ! VARIABLE PRICES -->
        <div class="variable-prices" *ngIf="!isFixedPrice">
          <div [formGroup]="variablePricesFormGroup">
            <div formArrayName="variablePricesFormArray">
              <div
                *ngFor="
                  let variablePrice of variablePricesFormArray.controls;
                  let i = index
                "
                [formGroupName]="i"
                class="variable-price"
              >
                <div class="form-fields">
                  <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <span matTextPrefix>$ &nbsp;&nbsp;</span>
                    <input
                      matInput
                      type="number"
                      formControlName="priceCtrl"
                      required
                      step="0.01"
                      min="0"
                      inputmode="decimal"
                    />
                    <mat-error
                      *ngIf="
                        variablePrice.get('priceCtrl')?.hasError('required')
                      "
                    >
                      Price is required
                    </mat-error>
                    <mat-error
                      *ngIf="variablePrice.get('priceCtrl')?.hasError('min')"
                    >
                      Price must be at least $1
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>From</mat-label>
                    <input
                      matInput
                      [matDatepicker]="fromDatePicker"
                      formControlName="dateFromCtrl"
                      required
                    />
                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #fromDatePicker></mat-datepicker>
                    <mat-error
                      *ngIf="
                        variablePrice.get('dateFromCtrl')?.hasError('required')
                      "
                    >
                      Date From is required
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <input
                      matInput
                      [matDatepicker]="toDatePicker"
                      formControlName="dateToCtrl"
                      required
                    />
                    <mat-datepicker-toggle matSuffix [for]="toDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #toDatePicker></mat-datepicker>
                    <mat-error
                      *ngIf="
                        variablePrice.get('dateToCtrl')?.hasError('required')
                      "
                    >
                      Date From is required
                    </mat-error>
                  </mat-form-field>

                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeVariablePrice(i)"
                    [disabled]="variablePricesFormArray.length === 1"
                    matTooltip="Remove this price"
                  >
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="add-variable-price-button">
              <button
                mat-mini-fab
                color="primary"
                type="button"
                (click)="addVariablePrice()"
                [disabled]="
                  variablePricesFormArray.length > 0 &&
                  !variablePricesFormArray.at(
                    variablePricesFormArray.length - 1
                  ).valid
                "
                matTooltip="Add another variable price"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button mat-stroked-button (click)="done()">Done</button>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
