@use "@angular/material" as mat;
@use "../../m3-theme.scss" as m3-theme;

h1,
strong {
  font-weight: 500;
}

h1 {
  font-family: "Funnel Display", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
}

mat-chip {
  padding-top: 2px;
}

mat-chip,
mat-chip-option,
table {
  background-color: #f5f2ff !important;
}

:host-context([data-theme="dark"]) mat-chip {
  background-color: #1b1b24 !important;
}

:host-context([data-theme="dark"]) table {
  background-color: #1b1b24 !important;
}

:host-context([data-theme="dark"]) mat-chip-option {
  background-color: #1b1b24 !important;
}

mat-chip mat-icon {
  font-size: 20px;
  vertical-align: middle;
}

.number-mono {
  font-family: "Fira Code";
}

b {
  font-weight: 500 !important;
}

.fi {
  width: 1.5em;
  height: 1em;
}

.icon-property {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  gap: 8px;
}

mat-card-title {
  font-family: "Funnel Display", sans-serif;
  margin-left: 5px;
  margin-bottom: 15px;
}

mat-card-content {
  margin-left: 5px;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  font-size: medium;
}

:host-context([data-theme="light"]) .empty-list {
  border: 3px dashed #3338d87a;
}

:host-context([data-theme="dark"]) .empty-list {
  border: 3px dashed #f5f2ff;
}

:host-context([data-theme="light"]) .placeholder-photo {
  background-color: #e0e0e0;
}

:host-context([data-theme="dark"]) .placeholder-photo {
  background-color: #ffffff22;
}

mat-form-field {
  margin: 15px 0;
}

.main-card-action {
  margin-bottom: -32px;
  margin-left: -16px;
}

.spacer {
  flex: 1 1 auto;
}

.card-menu-actions {
  margin-bottom: -32px;
  margin-right: -16px;
}

.semibold {
  font-weight: 500;
}

.toggle-form-field {
  margin: 20px 0;
}

.big-card-count {
  font-family: "Funnel Display", sans-serif;
  font-weight: 500;
  font-size: 120px;
  line-height: 100px;
}

.big-card-count span {
  font-size: 24px;
  font-weight: 400;
}

img[mat-card-image] {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  image-rendering: optimizeSpeed;
  border-radius: 12px !important;
}

.mat-card-img-large {
  max-height: 400px !important;
}

:host-context([data-theme="light"]) img[mat-card-image] {
  background-color: #e0e0ff;
}

:host-context([data-theme="dark"]) img[mat-card-image] {
  background-color: #494d8aaa;
}

:host-context([data-theme="light"]) .ai-text-shadow {
  text-shadow: 0 0px 5px #4146e4b8; // #70
}

:host-context([data-theme="dark"]) .ai-text-shadow {
  text-shadow: 0 0px 5px #bfc2ffb8;
}

.ai-shadow {
  box-shadow: 0 0px 10px #bfc2ff;
}

.ai-shadow-card {
  transition:
    box-shadow 0.3s ease,
    outline 0.1s ease;
  border-radius: 12px;
}

:host-context([data-theme="dark"]) .ai-shadow-card {
  &.selected {
    box-shadow: 0px 0px 10px #bfc2ff;
    outline: 3px solid #bfc2ff;
  }

  &.selected:hover {
    box-shadow: 0px 0px 10px #bfc2ff;
  }

  &.sold-out {
    opacity: 0.5;
    outline: 3px solid #ff5449;
  }

  &.action-required {
    outline: 3px solid #ff5449;
  }

  &.active {
    outline: 3px solid #31f491;
  }

  &.warning {
    outline: 3px solid #f4b631;
  }
}

:host-context([data-theme="light"]) .ai-shadow-card {
  &.selected {
    box-shadow: 0px 0px 10px #4147e4;
    outline: 3px solid #4147e4;
  }

  &.selected:hover {
    box-shadow: 0px 0px 10px #4147e4;
  }

  &.sold-out {
    opacity: 0.5;
    outline: 3px solid #ff5449;
  }

  &.action-required {
    outline: 3px solid #ff5449;
  }

  &.active {
    outline: 3px solid #1ec951;
  }

  &.warning {
    outline: 3px solid #d69d22;
  }
}

:host-context([data-theme="dark"]) .ai-shadow-card-no-hover {
  &.selected {
    box-shadow: 0px 0px 10px #bfc2ff;
    outline: 3px solid #bfc2ff;
  }

  &.sold-out {
    opacity: 0.5;
    outline: 3px solid #ff5449;
  }

  &.action-required {
    outline: 3px solid #ff5449;
  }

  &.active {
    outline: 3px solid #31f491;
  }

  &.warning {
    outline: 3px solid #f4b631;
  }
}

:host-context([data-theme="light"]) .ai-shadow-card-no-hover {
  &.selected {
    box-shadow: 0px 0px 10px #4147e4;
    outline: 3px solid #4147e4;
  }

  &.sold-out {
    opacity: 0.5;
    outline: 3px solid #ff5449;
  }

  &.action-required {
    outline: 3px solid #ff5449;
  }

  &.active {
    outline: 3px solid #1ec951;
  }

  &.warning {
    outline: 3px solid #d69d22;
  }
}

:host-context([data-theme="dark"]) .ai-shadow-card:hover {
  box-shadow: 0px 0px 10px #fff7fa;
}

:host-context([data-theme="light"]) .ai-shadow-card:hover {
  box-shadow: 0px 0px 10px #5d5d6d;
}

:host-context([data-theme="dark"]) :host ::ng-deep .base-fill-button {
  background-color: #12131b !important;
}

:host-context([data-theme="light"]) :host ::ng-deep .base-fill-button {
  background-color: #fbf8ff !important;
}

.inline-arrow {
  position: relative;
  top: 6px !important;
}

.color-error {
  color: #ff5449;
}
