h1,
strong {
  font-weight: 500;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
}

mat-chip {
  padding-top: 2px;
}

mat-chip mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
