<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-icon aria-label="Side nav toggle icon">rocket</mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        #link="routerLinkActive"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        [activated]="link.isActive"
      >
        Home
      </a>

      <a
        mat-list-item
        routerLink="/dashboard"
        *ngIf="visibleForRole('ATTENDEE')"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        Dashboard
      </a>

      <a
        mat-list-item
        routerLink="/address"
        *ngIf="visibleForRole('ORGANIZER')"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        Address
      </a>

      <a
        mat-list-item
        routerLink="/login"
        *ngIf="!isLoggedIn()"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        Login
      </a>

      <a
        mat-list-item
        routerLink="/register"
        *ngIf="!isLoggedIn()"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        Register
      </a>

      <a
        mat-list-item
        routerLink="/profile"
        *ngIf="isLoggedIn()"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        Profile
      </a>

      <a
        mat-list-item
        routerLink="/organizer/my-festivals"
        *ngIf="visibleForRole('ORGANIZER')"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        My Festivals
      </a>
      <button mat-list-item (click)="toggleTheme()">Theme</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="user-role-title" *ngIf="isLoggedIn()">{{
        userRole.charAt(0).toUpperCase() +
          userRole.slice(1).toLowerCase() +
          ": " +
          username
      }}</span>
      <span class="user-role-title" *ngIf="!isLoggedIn()"> Festivals App </span>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
