<h2 mat-dialog-title>Create Travel Package Addon</h2>

<mat-dialog-content>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="infoFormGroup" [editable]="false">
      <form [formGroup]="infoFormGroup">
        <ng-template matStepLabel>Info</ng-template>
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="nameCtrl" required />
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input
              matInput
              type="text"
              formControlName="descriptionCtrl"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Available Number</mat-label>
            <input
              matInput
              type="number"
              formControlName="availableNumberCtrl"
              required
            />
          </mat-form-field>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="configurationFormGroup" [editable]="false">
      <ng-template matStepLabel>Configuration</ng-template>
      <mat-stepper
        orientation="vertical"
        [linear]="true"
        #configStepper
        class="configuration-step"
      >
        <form [formGroup]="configurationFormGroup">
          <mat-step>
            <ng-template matStepLabel>Travel Type</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select formControlName="transportTypeCtrl" required>
                <mat-option
                  *ngFor="let type of transportTypes"
                  [value]="type.value"
                >
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button
                mat-stroked-button
                matStepperNext
                [disabled]="
                  !configurationFormGroup.get('transportTypeCtrl')?.value
                "
              >
                Next
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Departure City</ng-template>
            <div class="form-field">
              <mat-form-field appearance="outline">
                <mat-label>City Name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="departureCityNameCtrl"
                  required
                />
              </mat-form-field>
            </div>
            <div class="form-field form-field-two">
              <mat-form-field appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="departureCityPostalCodeCtrl"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Country (ISO3)</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="departureCountryISO3Ctrl"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-stroked-button
                matStepperNext
                [disabled]="
                  !configurationFormGroup.get('departureCityNameCtrl')?.value ||
                  !configurationFormGroup.get('departureCityPostalCodeCtrl')
                    ?.value ||
                  !configurationFormGroup.get('departureCountryISO3Ctrl')?.value
                "
              >
                Next
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Arrival City</ng-template>
            <div class="form-field">
              <mat-form-field appearance="outline">
                <mat-label>City Name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="arrivalCityNameCtrl"
                  required
                />
              </mat-form-field>
            </div>
            <div class="form-field form-field-two">
              <mat-form-field appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="arrivalCityPostalCodeCtrl"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Country (ISO3)</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="arrivalCountryISO3Ctrl"
                  required
                />
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-stroked-button
                matStepperNext
                [disabled]="
                  !configurationFormGroup.get('arrivalCityNameCtrl')?.value ||
                  !configurationFormGroup.get('arrivalCityPostalCodeCtrl')
                    ?.value ||
                  !configurationFormGroup.get('arrivalCountryISO3Ctrl')?.value
                "
              >
                Next
              </button>
            </div>
          </mat-step>

          <!-- ! TRIP TIMES -->
          <mat-step>
            <ng-template matStepLabel>Trip Times</ng-template>

            <div class="form-fields">
              <p>
                Departure time from
                <b
                  >{{
                    configurationFormGroup.get("departureCityNameCtrl")?.value
                  }}:</b
                >
              </p>
            </div>
            <div class="form-field form-field-two">
              <mat-form-field appearance="outline">
                <mat-label>Departure Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="departureDatePicker"
                  formControlName="departureDateCtrl"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="departureDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #departureDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Departure Time</mat-label>
                <input
                  matInput
                  [matTimepicker]="departureTimePicker"
                  formControlName="departureTimeCtrl"
                  required
                />
                <mat-timepicker-toggle
                  matSuffix
                  [for]="departureTimePicker"
                ></mat-timepicker-toggle>
                <mat-timepicker #departureTimePicker></mat-timepicker>
              </mat-form-field>
            </div>

            <div class="form-fields">
              <p>
                Arrival time to
                <b
                  >{{
                    configurationFormGroup.get("arrivalCityNameCtrl")?.value
                  }}:</b
                >
              </p>
            </div>
            <div class="form-field form-field-two">
              <mat-form-field appearance="outline">
                <mat-label>Arrival Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="arrivalDatePicker"
                  formControlName="arrivalDateCtrl"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="arrivalDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #arrivalDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Arrival Time</mat-label>
                <input
                  matInput
                  [matTimepicker]="arrivalTimePicker"
                  formControlName="arrivalTimeCtrl"
                  required
                />
                <mat-timepicker-toggle
                  matSuffix
                  [for]="arrivalTimePicker"
                ></mat-timepicker-toggle>
                <mat-timepicker #arrivalTimePicker></mat-timepicker>
              </mat-form-field>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-stroked-button
                matStepperNext
                [disabled]="
                  !configurationFormGroup.get('departureDateCtrl')?.value ||
                  !configurationFormGroup.get('departureTimeCtrl')?.value ||
                  !configurationFormGroup.get('arrivalDateCtrl')?.value ||
                  !configurationFormGroup.get('arrivalTimeCtrl')?.value
                "
              >
                Next
              </button>
            </div>
          </mat-step>

          <!-- ! RETURN TRIP TIMES -->
          <mat-step>
            <ng-template matStepLabel>Return Trip Times</ng-template>

            <div class="form-fields">
              <!-- * switched city names for return trip -->
              <p>
                Departure time from
                <b
                  >{{
                    configurationFormGroup.get("arrivalCityNameCtrl")?.value
                  }}:</b
                >
              </p>
            </div>
            <div class="form-field form-field-two">
              <mat-form-field appearance="outline">
                <mat-label>Departure Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="returnDepartureDatePicker"
                  formControlName="returnDepartureDateCtrl"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="returnDepartureDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #returnDepartureDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Departure Time</mat-label>
                <input
                  matInput
                  [matTimepicker]="returnDepartureTimePicker"
                  formControlName="returnDepartureTimeCtrl"
                  required
                />
                <mat-timepicker-toggle
                  matSuffix
                  [for]="returnDepartureTimePicker"
                ></mat-timepicker-toggle>
                <mat-timepicker #returnDepartureTimePicker></mat-timepicker>
              </mat-form-field>
            </div>

            <div class="form-fields">
              <!-- * switched city names for return trip -->
              <p>
                Arrival time to
                <b
                  >{{
                    configurationFormGroup.get("departureCityNameCtrl")?.value
                  }}:</b
                >
              </p>
            </div>
            <div class="form-field form-field-two">
              <mat-form-field appearance="outline">
                <mat-label>Arrival Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="returnArrivalDatePicker"
                  formControlName="returnArrivalDateCtrl"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="returnArrivalDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #returnArrivalDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Arrival Time</mat-label>
                <input
                  matInput
                  [matTimepicker]="returnArrivalTimePicker"
                  formControlName="returnArrivalTimeCtrl"
                  required
                />
                <mat-timepicker-toggle
                  matSuffix
                  [for]="returnArrivalTimePicker"
                ></mat-timepicker-toggle>
                <mat-timepicker #returnArrivalTimePicker></mat-timepicker>
              </mat-form-field>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-stroked-button matStepperNext>Done</button> -->
            </div>
          </mat-step>
        </form>
      </mat-stepper>
    </mat-step>

    <mat-step [editable]="false">
      <div class="price-form">
        <ng-template matStepLabel>Price</ng-template>
        <div *ngIf="isFixedPrice">
          <form [formGroup]="fixedPriceFormGroup">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Price</mat-label>
              <span matTextPrefix>$ &nbsp;&nbsp;</span>
              <input
                matInput
                type="number"
                formControlName="fixedPriceCtrl"
                required
                step="0.01"
                min="0"
                inputmode="decimal"
              />
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-top: -20px">
  <button
    mat-button
    color="warn"
    (click)="closeDialog()"
    *ngIf="stepper.selectedIndex === 0"
  >
    Cancel
  </button>
  <button
    mat-stroked-button
    (click)="createPackageAddon()"
    *ngIf="stepper.selectedIndex === 0"
    [disabled]="infoFormGroup.invalid"
  >
    Next
  </button>
  <button
    mat-stroked-button
    (click)="addTransportConfig()"
    *ngIf="stepper.selectedIndex === 1"
    [disabled]="configurationFormGroup.invalid"
  >
    Next
  </button>
  <button
    mat-stroked-button
    (click)="done()"
    *ngIf="stepper.selectedIndex === 2"
    [disabled]="fixedPriceFormGroup.invalid"
  >
    Done
  </button>
</mat-dialog-actions>
