@use "@angular/material" as mat;

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo-container {
  margin-bottom: 16px;
}

.profile-photo-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(61, 61, 61, 0.5);
}

.placeholder-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-photo mat-icon {
  font-size: 100px;
  color: #9e9e9e;
}

.save-changes-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-changes-button mat-spinner {
  height: 25px !important;
}

.save-changes-button {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #fff,
    )
  );
}
