<h2 mat-dialog-title>Edit Festival</h2>

<mat-dialog-content>
  <form [formGroup]="editFestivalForm">
    <mat-form-field class="full-width">
      <mat-label>Festival Name</mat-label>
      <input matInput placeholder="Name" type="text" formControlName="name" />
      <mat-error *ngIf="editFestivalForm.get('name')?.invalid">
        Festival name is <strong>required</strong>.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="editFestival()">
    Save
  </button>
</mat-dialog-actions>
