<h2 mat-dialog-title>Edit Festival</h2>

<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Basic Information">
      <form [formGroup]="basicInfoFormGroup">
        <ng-template matStepLabel>Basic Info</ng-template>
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Festival Name</mat-label>
            <input matInput formControlName="nameCtrl" required />
            <mat-error *ngIf="basicInfoFormGroup.get('nameCtrl')?.invalid">
              Festival name is <strong>required</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Capacity</mat-label>
            <input
              matInput
              type="number"
              formControlName="capacityCtrl"
              required
            />
            <mat-error *ngIf="basicInfoFormGroup.get('capacityCtrl')?.invalid">
              Capacity must be at least <strong>1</strong>.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="descriptionCtrl" required />
            <mat-error
              *ngIf="basicInfoFormGroup.get('descriptionCtrl')?.invalid"
            >
              Description is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="pickerStart"
              formControlName="startDateCtrl"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerStart"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
            <mat-error *ngIf="basicInfoFormGroup.get('startDateCtrl')?.invalid">
              Start date is <strong>required</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="pickerEnd"
              formControlName="endDateCtrl"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerEnd"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
            <mat-error *ngIf="basicInfoFormGroup.get('endDateCtrl')?.invalid">
              End date is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Address">
      <form [formGroup]="addressFormGroup">
        <ng-template matStepLabel>Address</ng-template>
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput formControlName="streetCtrl" required />
            <mat-error *ngIf="addressFormGroup.get('streetCtrl')?.invalid">
              Street is <strong>required</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="numberCtrl" required />
            <mat-error *ngIf="addressFormGroup.get('numberCtrl')?.invalid">
              Number is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Apartment / Suite</mat-label>
            <input matInput formControlName="apartmentSuiteCtrl" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="cityCtrl" required />
            <mat-error *ngIf="addressFormGroup.get('cityCtrl')?.invalid">
              City is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCodeCtrl" required />
            <mat-error *ngIf="addressFormGroup.get('postalCodeCtrl')?.invalid">
              Postal Code is <strong>required</strong>.
            </mat-error>
          </mat-form-field>

          <app-country-picker
            formControlName="countryISO3Ctrl"
            style="margin-top: 15px"
          >
          </app-country-picker>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Images">
      <div class="image-grid">
        <div class="form-fields-image">
          <div>
            <h2>Images Preview</h2>
            <p>Click on any image to remove it.</p>
          </div>
          <button mat-stroked-button (click)="fileInput.click()" type="button">
            <mat-icon class="material-symbols-outlined">upload</mat-icon>
            Upload Image
          </button>
          <input
            #fileInput
            type="file"
            accept="image/*"
            multiple
            (change)="onFileSelected($event)"
            style="display: none"
          />
        </div>
        <mat-grid-list cols="3" rowHeight="170px" class="grid-list">
          <mat-grid-tile *ngFor="let image of images">
            <img
              class="image-button"
              (click)="removeImage(image)"
              aria-label="Remove image"
              [src]="image.previewUrl"
            />
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>

  <button
    mat-flat-button
    color="primary"
    (click)="saveChanges()"
    class="save-changes-button"
    [disabled]="
      basicInfoFormGroup.invalid ||
      addressFormGroup.invalid ||
      images.length === 0
    "
  >
    <mat-spinner *ngIf="isUploading"></mat-spinner>
    <span *ngIf="!isUploading">Save changes</span>
  </button>
</mat-dialog-actions>
