@use "@angular/material" as mat;

.full-width {
  width: 100%;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  height: 400px;
  padding-bottom: 20px;
}

h1 {
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
}

.festival-card {
  padding: 16px;
  flex: 1 1 calc(50% - 5px);
  max-width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-header {
  margin-bottom: 20px;
}

// override:
.icon-property {
  margin-left: -20px;
}

// override:
.number-mono {
  &.large {
    font-size: large;
  }
}

.divider {
  height: 10px;
}

.continued {
  margin-top: -10px !important;
}

.error-message {
  margin-top: 5px;
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  margin-top: 5px;
}

h2,
mat-dialog-title {
  font-weight: 500;
  font-family: "Funnel Display", sans-serif !important;
}

.form-fields {
  display: flex;
  justify-content: left;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

.error-message {
  margin-top: 5px;
  text-align: center;
}

h1,
strong {
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
}

.toggle-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

mat-form-field {
  width: 100%;
  margin: 5px 0 0 0 !important;
}

.step-description {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.dialog-content {
  margin-bottom: 30px;
}

.dialog-content::-webkit-scrollbar {
  width: 8px;
}

.dialog-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.dialog-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
