<h2 mat-dialog-title>Review Activation Help Request</h2>

<mat-dialog-content class="dialog-content">
  <p class="step-description">
    Review Attendee's activation request and make sure it matches with the
    information that's visible in the System and on the provided photo.
  </p>

  <div class="profile-content">
    <!-- ! system info -->
    <mat-card class="festival-card">
      <mat-card-title>System Info</mat-card-title>
      <mat-card-content>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            barcode_scanner
          </mat-icon>
          Barcode Number:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <b class="number-mono large">
            {{ helpRequest?.bracelet?.barcodeNumber }}
          </b>
        </span>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            password
          </mat-icon>
          PIN Code:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <b class="number-mono large"> {{ helpRequest?.bracelet?.pin }} </b>
        </span>
      </mat-card-content>
    </mat-card>
    <!-- ! request data -->
    <mat-card class="festival-card">
      <mat-card-title>Request Data</mat-card-title>
      <mat-card-content>
        <!-- ! barcode -->
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            barcode_scanner
          </mat-icon>
          Barcode Number:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <b class="number-mono large">
            {{ helpRequest?.userEnteredBarcode }}
          </b>
        </span>
        <!-- ! pin -->
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            password
          </mat-icon>
          PIN Code:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <b class="number-mono large"> {{ helpRequest?.userEnteredPIN }} </b>
        </span>
        <!-- ! description -->
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            description
          </mat-icon>
          Description:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <span style="font-style: italic">{{
            helpRequest?.issueDescription
          }}</span>
        </span>
        <!--! photo -->
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            attach_file
          </mat-icon>
          <a
            mat-button
            style="margin-left: -10px"
            [href]="helpRequest?.imageUrl"
            target="_blank"
          >
            Attached Proof Photo
          </a>
        </span>
      </mat-card-content>
    </mat-card>
    <!-- ! employee info -->
    <mat-card class="festival-card">
      <mat-card-title>Issuer</mat-card-title>
      <mat-card-content>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            badge
          </mat-icon>
          Employee:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <b class="number-mono">
            {{ helpRequest?.bracelet?.employee?.username }}
          </b>
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          {{ helpRequest?.bracelet?.employee?.firstName }}
          {{ helpRequest?.bracelet?.employee?.lastName }}
        </span>
      </mat-card-content>
    </mat-card>
    <!-- ! attendee info -->
    <mat-card class="festival-card">
      <mat-card-title>Attendee</mat-card-title>
      <!-- <mat-card-subtitle>Attendee who received the Bracelet</mat-card-subtitle> -->
      <mat-card-content>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            account_circle
          </mat-icon>
          Attendee:
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          <b class="number-mono">
            {{ helpRequest?.attendee?.username }}
          </b>
        </span>
        <span class="icon-property continued">
          <mat-icon class="material-symbols-outlined" color="primary">
          </mat-icon>
          {{ helpRequest?.attendee?.firstName }}
          {{ helpRequest?.attendee?.lastName }}
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-top: -20px">
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="warn" (click)="handleRequest('reject')">
    <mat-icon class="material-symbols-outlined"> cancel </mat-icon>
    <span>Reject</span>
  </button>
  <button mat-flat-button color="primary" (click)="handleRequest('approve')">
    <mat-icon class="material-symbols-outlined"> check_circle </mat-icon>
    <span>Approve and Activate</span>
  </button>
</mat-dialog-actions>
