<div class="container mat-elevation-z4" *ngIf="festival">
  <div class="profile-header">
    <div class="title-container">
      <button
        mat-icon-button
        matTooltip="Go Back"
        color="primary"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        {{ festival.name | slice: 0 : 20
        }}{{ festival.name.length > 20 ? "..." : "" }}
        <mat-icon color="primary">arrow_forward_ios</mat-icon> Package Store
      </h1>
    </div>
    <div class="button-container"></div>
  </div>

  <div class="profile-content">
    <!-- todo: set linear to true -->
    <mat-stepper
      orientation="vertical"
      [linear]="false"
      #stepper
      class="store-stepper"
    >
      <!-- ! TICKET SELECTION -->
      <mat-step [hasError]="!selectedTicket">
        <ng-template matStepLabel> Select Ticket </ng-template>
        <div class="profile-content profile-content-with-cards">
          <mat-card
            class="festival-card"
            (click)="selectTicket(ticket)"
            *ngFor="let ticket of tickets"
          >
            <div
              class="card-content ai-shadow-card"
              [ngClass]="{ selected: ticket === selectedTicket }"
              [ngClass]="{ 'sold-out': ticket.remainingNumber === 0 }"
            >
              <div>
                <mat-card-header>
                  <mat-card-title>{{ ticket.name }}</mat-card-title>
                  <mat-card-subtitle>{{
                    ticket.description
                  }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      attach_money
                    </mat-icon>
                    <span class="number" *ngIf="ticket.remainingNumber !== 0">
                      {{ ticket.price.toFixed(2) }}
                    </span>
                    <span class="number" *ngIf="ticket.remainingNumber === 0">
                      <span class="line-trough">{{ ticket.price }}</span>
                      <span class="sold-out-text"> SOLD OUT </span>
                    </span>
                  </span>
                </mat-card-content>
              </div>
            </div>
          </mat-card>
        </div>
        <div>
          <button
            mat-stroked-button
            class="base-fill-button"
            matStepperNext
            [disabled]="!selectedTicket"
          >
            Next
          </button>
        </div>
      </mat-step>

      <!-- ! TRAVEL PREFERENCES -->
      <mat-step *ngIf="transportAddonsCount !== 0">
        <ng-template matStepLabel> Travel Preferences </ng-template>
        <mat-card class="form-card">
          <mat-card-content>
            <p class="step-description">
              Please select your departure country and preferred travel method.
            </p>
            <div class="form-fields">
              <mat-form-field appearance="outline">
                <mat-label>Departure Country</mat-label>
                <mat-select [(ngModel)]="selectedCountry">
                  <mat-option
                    *ngFor="let country of countries"
                    [value]="country"
                  >
                    {{ country.niceName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Travel Method</mat-label>
                <mat-select [(ngModel)]="selectedTransportType">
                  <mat-option
                    *ngFor="let type of transportTypes"
                    [value]="type"
                  >
                    {{ type.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
        <div>
          <button mat-stroked-button class="base-fill-button" matStepperNext>
            View Options
          </button>
          <button
            mat-button
            (click)="clearTransportFilters()"
            style="margin-left: 10px"
          >
            Clear filters
          </button>
        </div>
      </mat-step>

      <!-- ! TRAVEL ADDON SELECTION -->
      <mat-step *ngIf="transportAddonsCount !== 0">
        <ng-template matStepLabel> Select Travel Option </ng-template>

        <div
          class="empty-list"
          *ngIf="filteredTransportAddons.length === 0"
          style="margin-top: 10px"
        >
          <p>There are no travel options for selected preferences.</p>
        </div>

        <div class="profile-content profile-content-with-cards">
          <mat-card
            class="festival-card"
            (click)="selectTransportAddon(addon)"
            *ngFor="let addon of filteredTransportAddons"
          >
            <div
              class="card-content ai-shadow-card"
              [ngClass]="{ selected: addon === selectedTransportAddon }"
              [ngClass]="{ 'sold-out': addon.itemRemainingNumber === 0 }"
            >
              <div>
                <mat-card-header>
                  <mat-card-title>{{ addon.itemName }}</mat-card-title>
                  <mat-card-subtitle>{{
                    addon.itemDescription
                  }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <span
                    class="icon-property"
                    *ngIf="addon.transportType === 'PLANE'"
                  >
                    <mat-icon class="material-symbols-outlined" color="primary">
                      flight
                    </mat-icon>
                    <h3>Flight Package</h3>
                  </span>
                  <span
                    class="icon-property"
                    *ngIf="addon.transportType === 'BUS'"
                  >
                    <mat-icon class="material-symbols-outlined" color="primary">
                      directions_bus
                    </mat-icon>
                    <h3>Bus Package</h3>
                  </span>
                  <span
                    class="icon-property"
                    *ngIf="addon.transportType === 'TRAIN'"
                  >
                    <mat-icon class="material-symbols-outlined" color="primary">
                      train
                    </mat-icon>
                    <h3>Train Package</h3>
                  </span>

                  <div class="divider"></div>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      attach_money
                    </mat-icon>
                    <span class="number">{{ addon.price.toFixed(2) }}</span>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      numbers
                    </mat-icon>
                    <span class="number">{{ addon.itemRemainingNumber }}</span>
                    remaining out of
                    <span class="number">{{ addon.itemAvailableNumber }}</span>
                  </span>

                  <div class="divider"></div>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      home
                    </mat-icon>
                    <h3>Roundtrip:</h3>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined">
                      more_vert
                    </mat-icon>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      flight_takeoff
                    </mat-icon>
                    <b>
                      {{ addon.departureCityName }}
                      ({{ addon.departureCountryISO3 }})
                      <mat-icon
                        class="material-symbols-outlined inline-arrow"
                        color="primary"
                      >
                        arrow_right_alt
                      </mat-icon>
                      {{ addon.arrivalCityName }} ({{
                        addon.arrivalCountryISO3
                      }})
                    </b>
                  </span>

                  <span class="icon-property continued">
                    <mat-icon class="material-symbols-outlined" color="primary">
                    </mat-icon>
                    <span>
                      {{ addon.departureTime | date: "yyyy-MM-dd HH:mm" }}
                      <mat-icon
                        class="material-symbols-outlined inline-arrow"
                        color="primary"
                      >
                        arrow_right_alt
                      </mat-icon>
                      {{ addon.arrivalTime | date: "yyyy-MM-dd HH:mm" }}
                    </span>
                  </span>

                  <span class="icon-property continued">
                    <mat-icon class="material-symbols-outlined">
                      more_vert
                    </mat-icon>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      celebration
                    </mat-icon>
                    <h3>{{ festival.name }}</h3>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined">
                      more_vert
                    </mat-icon>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      flight_land
                    </mat-icon>
                    <b>
                      {{ addon.arrivalCityName }}
                      ({{ addon.arrivalCountryISO3 }})
                      <mat-icon
                        class="material-symbols-outlined inline-arrow"
                        color="primary"
                      >
                        arrow_right_alt
                      </mat-icon>
                      {{ addon.departureCityName }} ({{
                        addon.departureCountryISO3
                      }})
                    </b>
                  </span>

                  <span class="icon-property continued">
                    <mat-icon class="material-symbols-outlined" color="primary">
                    </mat-icon>
                    <span>
                      {{ addon.returnDepartureTime | date: "yyyy-MM-dd HH:mm" }}
                      <mat-icon
                        class="material-symbols-outlined inline-arrow"
                        color="primary"
                      >
                        arrow_right_alt
                      </mat-icon>
                      {{ addon.returnArrivalTime | date: "yyyy-MM-dd HH:mm" }}
                    </span>
                  </span>

                  <span class="icon-property continued">
                    <mat-icon class="material-symbols-outlined">
                      more_vert
                    </mat-icon>
                  </span>

                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      home
                    </mat-icon>
                    <h3>End of the Journey</h3>
                  </span>
                </mat-card-content>
              </div>
            </div>
          </mat-card>
        </div>
        <div>
          <button mat-button matStepperPrevious style="margin-right: 10px">
            Previous
          </button>
          <button
            mat-stroked-button
            class="base-fill-button"
            matStepperNext
            [disabled]="!selectedTransportAddon"
          >
            Next
          </button>
        </div>
      </mat-step>

      <!-- ! CAMP ADDON SELECTION -->
      <mat-step *ngIf="campAddonsCount !== 0">
        <ng-template matStepLabel> Select Camp Option </ng-template>
        <div class="profile-content profile-content-with-cards">
          <mat-card
            class="festival-card"
            (click)="selectCampAddon(addon)"
            *ngFor="let addon of campAddons"
          >
            <div
              class="card-content ai-shadow-card"
              [ngClass]="{ selected: addon === selectedCampAddon }"
              [ngClass]="{ 'sold-out': addon.itemRemainingNumber === 0 }"
            >
              <img
                mat-card-image
                src="{{ addon.imageUrl }}"
                alt="{{ addon.itemName }}"
              />
              <mat-card-header>
                <mat-card-title>{{ addon.itemName }}</mat-card-title>
                <mat-card-subtitle>{{
                  addon.itemDescription
                }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <span class="icon-property">
                  <mat-icon class="material-symbols-outlined" color="primary">
                    attach_money
                  </mat-icon>
                  <span class="number">{{ addon.price.toFixed(2) }}</span>
                </span>

                <span class="icon-property">
                  <mat-icon class="material-symbols-outlined" color="primary">
                    numbers
                  </mat-icon>
                  <span class="number">{{ addon.itemRemainingNumber }}</span>
                  remaining out of
                  <span class="number">{{ addon.itemAvailableNumber }}</span>
                </span>

                <ng-container *ngIf="addon.equipmentNames !== ''">
                  <div class="divider"></div>
                  <span class="icon-property">
                    <mat-icon class="material-symbols-outlined" color="primary">
                      camping
                    </mat-icon>
                    Included:
                  </span>
                  <span class="icon-property continued">
                    <mat-icon class="material-symbols-outlined" color="primary">
                    </mat-icon>
                    {{ addon.equipmentNames }}
                  </span>
                </ng-container>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
        <div>
          <button mat-stroked-button class="base-fill-button" matStepperNext>
            Next
          </button>
        </div>
      </mat-step>

      <!-- ! GENERAL ADDON SELECTION -->
      <mat-step *ngIf="generalAddonsCount !== 0">
        <ng-template matStepLabel> Select Additional Options </ng-template>
        <div class="profile-content profile-content-with-cards"></div>
        <div>
          <button mat-stroked-button class="base-fill-button" matStepperNext>
            Next
          </button>
        </div>
      </mat-step>

      <!-- ! PERSONAL INFORMATION -->
      <mat-step [stepControl]="personalFormGroup">
        <form [formGroup]="personalFormGroup">
          <ng-template matStepLabel> Personal Information </ng-template>
          <mat-card class="form-card">
            <mat-card-content>
              <p class="step-description">
                Review Personal Information that's saved in your Profile. We
                will use this info to contact you if needed.
              </p>
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstNameCtrl" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastNameCtrl" />
                </mat-form-field>
              </div>
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="emailCtrl" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phoneCtrl" />
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <div>
          <button
            mat-stroked-button
            class="base-fill-button"
            matStepperNext
            [disabled]="personalFormGroup.invalid"
          >
            Yes, that's correct
          </button>
        </div>
      </mat-step>

      <!-- ! SHIPPING INFORMATION -->
      <mat-step [stepControl]="addressFormGroup">
        <form [formGroup]="addressFormGroup">
          <ng-template matStepLabel> Shipping Information</ng-template>
          <mat-card class="form-card">
            <mat-card-content>
              <p class="step-description">
                Review Address that's saved in your Profile. Bracelet will be
                shipped to this address.
              </p>
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Street</mat-label>
                  <input matInput formControlName="streetCtrl" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Number</mat-label>
                  <input matInput formControlName="numberCtrl" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Apartment / Suite</mat-label>
                  <input matInput formControlName="apartmentSuiteCtrl" />
                </mat-form-field>
              </div>

              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="cityCtrl" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input matInput formControlName="postalCodeCtrl" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Country (ISO3)</mat-label>
                  <input matInput formControlName="countryISO3Ctrl" />
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <div>
          <button
            mat-stroked-button
            class="base-fill-button"
            matStepperNext
            (click)="saveFormToCurrent()"
            [disabled]="addressFormGroup.invalid"
          >
            Yes, that's correct
          </button>
        </div>
      </mat-step>

      <!-- ! SUMMARY -->
      <mat-step>
        <ng-template matStepLabel>Summary</ng-template>
        <mat-card class="form-card">
          <mat-card-content>
            <p class="step-description">
              Any changes to Personal or Shipping information will be saved to
              your Profile.
            </p>

            <div class="divider"></div>

            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                confirmation_number
              </mat-icon>
              Selected Ticket:
              <span class="number-mono">{{ selectedTicket?.name }}</span>
            </span>
            <div class="divider"></div>

            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                attach_money
              </mat-icon>
              Total Price:
              <span class="number-mono">{{
                selectedTicket?.price?.toFixed(2)
              }}</span>
            </span>
            <div class="divider"></div>

            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                info
              </mat-icon>
              Personal Information:
            </span>
            <span class="icon-property continued">
              <mat-icon class="material-symbols-outlined" color="primary">
              </mat-icon>
              <span class="number-mono">
                {{ userProfile?.firstName }} {{ userProfile?.lastName }}
              </span>
            </span>
            <span class="icon-property continued">
              <mat-icon class="material-symbols-outlined" color="primary">
              </mat-icon>
              <span class="number-mono">{{ userProfile?.email }}</span>
            </span>
            <span class="icon-property continued">
              <mat-icon class="material-symbols-outlined" color="primary">
              </mat-icon>
              <span class="number-mono">
                {{ userProfile?.phoneNumber }}
              </span>
            </span>

            <div class="divider"></div>

            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                fitness_tracker
              </mat-icon>
              Bracelet will be shipped to:
            </span>
            <span class="icon-property continued">
              <mat-icon class="material-symbols-outlined" color="primary">
              </mat-icon>
              <span class="number-mono">
                {{ address?.street }} {{ address?.number }}
                <span *ngIf="address?.apartmentSuite">
                  / {{ address?.apartmentSuite }}
                </span>
              </span>
            </span>
            <span class="icon-property continued">
              <mat-icon class="material-symbols-outlined" color="primary">
              </mat-icon>
              <span class="number-mono">
                {{ address?.city }}, {{ address?.postalCode }}
              </span>
            </span>
            <span class="icon-property continued">
              <mat-icon class="material-symbols-outlined" color="primary">
              </mat-icon>
              <span class="number-mono"> {{ address?.countryISO3 }} </span>
            </span>

            <div class="divider"></div>
          </mat-card-content>
        </mat-card>
        <div>
          <button
            mat-fab
            extended
            color="primary"
            (click)="completeOrder()"
            class="ai-shadow"
          >
            <mat-icon class="material-symbols-outlined" *ngIf="!isLoading">
              list_alt_check
            </mat-icon>
            <mat-spinner class="fab-loader" *ngIf="isLoading"></mat-spinner>
            <span *ngIf="!isLoading">Complete Order</span>
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
