<h2 mat-dialog-title>Create General Package Addon</h2>

<mat-dialog-content>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="infoFormGroup" [editable]="false">
      <div class="issue-form">
        <ng-template matStepLabel>Bracelet Credentials</ng-template>
        <form [formGroup]="infoFormGroup">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Barcode Number</mat-label>
              <input
                matInput
                type="text"
                formControlName="barcodeNumberCtrl"
                required
              />
              <mat-error
                *ngIf="
                  infoFormGroup.get('barcodeNumberCtrl')?.hasError('required')
                "
              >
                Barcode Number is required
              </mat-error>
              <mat-error
                *ngIf="
                  infoFormGroup.get('barcodeNumberCtrl')?.hasError('minlength')
                "
              >
                Barcode Number must be at least 4 characters long
              </mat-error>
              <mat-error
                *ngIf="
                  infoFormGroup.get('barcodeNumberCtrl')?.hasError('maxlength')
                "
              >
                Barcode Number cannot be more than 20 characters long
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>PIN Code</mat-label>
              <input matInput formControlName="pinCtrl" required />
              <mat-error
                *ngIf="infoFormGroup.get('pinCtrl')?.hasError('required')"
              >
                PIN Code is required
              </mat-error>
              <mat-error
                *ngIf="infoFormGroup.get('pinCtrl')?.hasError('minlength')"
              >
                PIN Code must be at least 4 characters long
              </mat-error>
              <mat-error
                *ngIf="infoFormGroup.get('pinCtrl')?.hasError('maxlength')"
              >
                PIN Code cannot be more than 20 characters long
              </mat-error>
              <mat-error
                *ngIf="infoFormGroup.get('pinCtrl')?.hasError('pattern')"
              >
                PIN Code can only contain numbers
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [editable]="false">
      <div class="issue-form">
        <ng-template matStepLabel>Shipping Information</ng-template>
        <form [formGroup]="addressFormGroup">
          <p class="description">Ship the Bracelet to the following Address:</p>

          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput formControlName="streetCtrl" />
            </mat-form-field>
          </div>

          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Number</mat-label>
              <input matInput formControlName="numberCtrl" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Apartment / Suite</mat-label>
              <input matInput formControlName="apartmentSuiteCtrl" />
            </mat-form-field>
          </div>

          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput formControlName="cityCtrl" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCodeCtrl" />
            </mat-form-field>
          </div>

          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput formControlName="countryNiceNameCtrl" />
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-top: -20px">
  <button
    mat-button
    color="warn"
    (click)="closeDialog()"
    *ngIf="stepper.selectedIndex === 0"
  >
    Cancel
  </button>
  <button
    mat-flat-button
    (click)="issueBracelet()"
    *ngIf="stepper.selectedIndex === 0"
    [disabled]="infoFormGroup.invalid"
  >
    Issue Bracelet
  </button>

  <button
    mat-stroked-button
    color="primary"
    (click)="printShippingLabel()"
    *ngIf="stepper.selectedIndex === 1"
  >
    Print Shipping Label
  </button>
  <button mat-flat-button (click)="done()" *ngIf="stepper.selectedIndex === 1">
    Done
  </button>
</mat-dialog-actions>
