<div class="container mat-elevation-z4">
  <div class="profile-header">
    <h1>My Bracelets</h1>
  </div>

  <div class="chip-container">
    <mat-chip-listbox
      [(ngModel)]="selectedChip"
      [multiple]="false"
      [required]="true"
    >
      @for (option of filterOptions; track option) {
        <mat-chip-option selected [selectable]="selectedChip !== option">{{
          option
        }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <div class="profile-content" *ngIf="!isLoading">
    <mat-card
      class="bracelet-card ai-shadow-card-no-hover"
      *ngFor="let order of filteredOrders"
      [ngClass]="{ active: order.braceletStatus === 'ACTIVATED' }"
    >
      <div class="card-content">
        <div>
          <mat-card-header>
            <!-- ! BRACELET ICON -->
            <div class="bracelet-container">
              <div
                class="bracelet-strap left"
                [ngStyle]="getBraceletStyle(order.festival.name)"
              ></div>
              <div
                class="bracelet-center"
                [ngStyle]="getBraceletStyle(order.festival.name)"
              ></div>
              <div
                class="bracelet-strap right"
                [ngStyle]="getBraceletStyle(order.festival.name)"
              ></div>
            </div>
          </mat-card-header>
          <mat-card-content style="margin-top: 45px; margin-left: 0">
            <mat-card-title>
              {{ order.festival.name }} Bracelet
            </mat-card-title>
            <mat-card-subtitle>
              {{ order.festival.startDate | date: "mediumDate" }} -
              {{ order.festival.endDate | date: "mediumDate" }}
            </mat-card-subtitle>

            <div class="divider"></div>

            <span class="icon-property" *ngIf="!order.braceletStatus">
              <mat-icon class="material-symbols-outlined" color="primary">
                fitness_tracker
              </mat-icon>
              Bracelet not yet issued
            </span>
            <span class="icon-property" *ngIf="order.braceletStatus">
              <mat-icon class="material-symbols-outlined" color="primary">
                fitness_tracker
              </mat-icon>
              Bracelet<b>{{ getBraceletStatusText(order.braceletStatus) }}</b>
            </span>

            <div *ngIf="order.bracelet">
              <span class="icon-property continued">
                <mat-icon
                  class="material-symbols-outlined"
                  color="primary"
                ></mat-icon>
                Barcode Number:
                <span class="number-mono">
                  {{ order.bracelet.barcodeNumber }}
                </span>
              </span>
              <span
                class="icon-property continued"
                *ngIf="
                  order.braceletStatus && order.braceletStatus === 'ACTIVATED'
                "
              >
                <mat-icon
                  class="material-symbols-outlined"
                  color="primary"
                ></mat-icon>
                Balance:
                <b class="number-mono">
                  ${{ order.bracelet.balance.toFixed(2) }}
                </b>
              </span>
            </div>
            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                tag
              </mat-icon>
              Linked to
              <a
                mat-button
                [routerLink]="['/my-orders', order.orderId]"
                style="margin-left: -5px; margin-top: 2px"
                >{{ "Order #" + order.orderId }}</a
              >

              <div class="spacer"></div>

              <!-- ! ACTIONS -->

              <button
                mat-flat-button
                (click)="activateBracelet(order)"
                color="primary"
                *ngIf="
                  order.braceletStatus && order.braceletStatus === 'ISSUED'
                "
              >
                <mat-icon class="material-symbols-outlined">
                  verified
                </mat-icon>
                Activate Bracelet
              </button>

              <button
                mat-stroked-button
                (click)="topUpBracelet(order)"
                color="primary"
                *ngIf="
                  order.braceletStatus && order.braceletStatus === 'ACTIVATED'
                "
              >
                <mat-icon class="material-symbols-outlined">
                  add_card
                </mat-icon>
                Top Up Bracelet
              </button>
            </span>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>

  <div
    class="empty-list"
    *ngIf="!isLoading && (!orders || orders.length === 0)"
  >
    <p>You do not have any bracelets.</p>
  </div>
  <div
    class="empty-list"
    *ngIf="
      !isLoading &&
      orders &&
      orders.length > 0 &&
      (!filteredOrders || filteredOrders.length === 0)
    "
  >
    <p>There are no bracelets that match the selected filter.</p>
  </div>
</div>
