<div class="container mat-elevation-z4" *ngIf="festival">
  <div class="profile-header">
    <div class="title-container">
      <button
        mat-icon-button
        matTooltip="Go Back"
        color="primary"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        {{ festival.name | slice : 0 : 20
        }}{{ festival.name.length > 20 ? "..." : "" }}
        <mat-icon color="primary">arrow_forward_ios</mat-icon> Travel Addons
      </h1>
    </div>
    <div class="button-container"></div>
  </div>

  <!-- todo: add chip counts -->

  <div class="profile-content">
    <mat-card class="festival-card" *ngFor="let addon of transportAddons">
      <div class="card-content">
        <div>
          <mat-card-header>
            <mat-card-title>{{ addon.itemName }}</mat-card-title>
            <mat-card-subtitle>{{ addon.itemDescription }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                calendar_month
              </mat-icon>
              {{ festival.startDate | date : "d MMM" }} -
              {{ festival.endDate | date : "d MMM" }}
            </span>
            <span class="icon-property" *ngIf="festival.status == 'PRIVATE'">
              <mat-icon class="material-symbols-outlined" color="primary">
                visibility_off</mat-icon
              >
              Private
            </span>
            <span class="icon-property" *ngIf="festival.status == 'PUBLIC'">
              <mat-icon class="material-symbols-outlined" color="primary"
                >visibility</mat-icon
              >
              Public
            </span>
            <span class="icon-property" *ngIf="festival.status == 'CANCELLED'">
              <mat-icon class="material-symbols-outlined" color="primary"
                >cancel</mat-icon
              >
              Cancelled
            </span>
            <span class="icon-property" *ngIf="festival.status == 'COMPLETED'">
              <mat-icon class="material-symbols-outlined" color="primary"
                >done_all</mat-icon
              >
              Completed
            </span>
            <span
              class="icon-property"
              *ngIf="
                festival.storeStatus == 'OPEN' && festival.status == 'PUBLIC'
              "
            >
              <mat-icon class="material-symbols-outlined" color="primary"
                >shopping_cart</mat-icon
              >
              Store Opened
            </span>
            <span
              class="icon-property"
              *ngIf="
                festival.storeStatus == 'CLOSED' && festival.status == 'PUBLIC'
              "
            >
              <mat-icon class="material-symbols-outlined" color="primary"
                >shopping_cart_off</mat-icon
              >
              Store Closed
            </span>
          </mat-card-content>
        </div>
        <mat-card-actions></mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
