<div class="container mat-elevation-z4" *ngIf="userProfile">
  <div class="profile-header">
    <span class="header-container">
      <img
        *ngIf="userProfile.imageURL"
        [src]="userProfile.imageURL"
        alt="User profile photo"
      />
      <mat-icon
        *ngIf="!userProfile.imageURL"
        class="material-symbols-outlined profile-missing-photo"
        color="primary"
      >
        face
      </mat-icon>
      <h1>Hello, {{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
    </span>
    <div class="button-container">
      <button
        mat-icon-button
        (click)="logout()"
        matTooltip="Logout"
        color="primary"
      >
        <mat-icon class="material-symbols-outlined" color="primary">
          logout
        </mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Change password"
        color="primary"
        (click)="changePassword()"
      >
        <mat-icon class="material-symbols-outlined" color="primary">
          password
        </mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Change profile information"
        color="primary"
        (click)="changeProfile()"
      >
        <mat-icon class="material-symbols-outlined" color="primary">
          badge
        </mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Change profile photo"
        color="primary"
        (click)="changeProfilePhoto()"
      >
        <mat-icon class="material-symbols-outlined" color="primary">
          image
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="profile-content">
    <mat-card class="profile-card">
      <mat-card-title>Personal Information</mat-card-title>
      <mat-card-content>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            horizontal_rule
          </mat-icon>
          <strong>Username:</strong>
          <span class="number-mono">{{ userProfile.username }}</span>
        </span>

        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            horizontal_rule
          </mat-icon>
          <strong>Email:</strong>
          <span class="number-mono">{{ userProfile.email }}</span>
        </span>

        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            horizontal_rule
          </mat-icon>
          <strong>Full Name:</strong> {{ userProfile.firstName }}
          {{ userProfile.lastName }}
        </span>

        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            horizontal_rule
          </mat-icon>
          <strong>Date of Birth:</strong>
          <span class="number-mono">{{ userProfile.dateOfBirth }}</span>
        </span>

        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            horizontal_rule
          </mat-icon>
          <strong>Phone Number:</strong>
          <span class="number-mono">{{ userProfile.phoneNumber }}</span>
        </span>
      </mat-card-content>
    </mat-card>

    <mat-card class="profile-card" *ngIf="userProfile.address">
      <mat-card-title>Address</mat-card-title>
      <mat-card-content *ngIf="userProfile.address">
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            map
          </mat-icon>
          {{ userProfile.address.street }} {{ userProfile.address.number }}
        </span>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            apartment
          </mat-icon>
          Apartment/Suite:
          {{
            userProfile.address.apartmentSuite === ""
              ? "N/A"
              : userProfile.address.apartmentSuite
          }}
        </span>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            location_on
          </mat-icon>
          {{ userProfile.address.city
          }}{{ ", " + userProfile.address.postalCode }}
        </span>
        <span class="icon-property">
          <span
            [ngClass]="'fi fi-' + userProfile.address.countryISO2.toLowerCase()"
          >
          </span>
          {{ userProfile.address.country }}
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button
  *ngIf="!userProfile"
  mat-icon-button
  (click)="logout()"
  matTooltip="Logout"
  aria-label="Button that opens a dialog to confirm logging out"
  color="primary"
  aria-label="Logout"
>
  <mat-icon>logout</mat-icon>
</button>
