.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header .button-container {
  display: flex;
  gap: 10px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-card {
  padding: 16px;
}

h1,
strong,
mat-card-title {
  font-weight: 500;
}
