.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-header .button-container {
  display: flex;
  gap: 10px;
}

.profile-header .title-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.chip-container {
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0px 0px;
}

.profile-card {
  padding: 16px;
  width: 100%;
}

.image-card {
  padding: 0px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(61, 61, 61, 0.418);
}

.image-card img {
  height: 400px;
  object-fit: cover;
}

h1 {
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
}

mat-card-title {
  font-family: "Funnel Display", sans-serif;
  margin-left: 5px;
}

mat-card-content {
  margin-left: 5px;
}
