<div class="container mat-elevation-z4" *ngIf="festival">
  <div class="profile-header">
    <div class="title-container">
      <button
        mat-icon-button
        matTooltip="Go Back"
        color="primary"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        {{ festival.name | slice: 0 : 40
        }}{{ festival.name.length > 40 ? "..." : "" }}
      </h1>
    </div>
    <div class="button-container">
      <button
        mat-icon-button
        matTooltip="Edit Festival"
        color="primary"
        (click)="onEditClick()"
      >
        <mat-icon class="material-symbols-outlined">edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Delete Festival"
        color="primary"
        (click)="onDeleteClick()"
      >
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Publish Festival"
        color="primary"
        (click)="onPublishClick()"
        *ngIf="festival.status === 'PRIVATE'"
      >
        <mat-icon class="material-symbols-outlined">published</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Cancel Festival"
        color="primary"
        (click)="onCancelClick()"
        *ngIf="
          festival.status !== 'CANCELLED' && festival.status !== 'COMPLETED'
        "
      >
        <mat-icon class="material-symbols-outlined">cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Complete Festival"
        color="primary"
        (click)="onCompleteClick()"
        *ngIf="festival.status === 'PUBLIC'"
      >
        <mat-icon class="material-symbols-outlined">done_all</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Open Festival Store"
        color="primary"
        (click)="onStoreOpenClick()"
        *ngIf="
          festival.status === 'PUBLIC' && festival.storeStatus === 'CLOSED'
        "
      >
        <mat-icon class="material-symbols-outlined">shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Close Festival Store"
        color="primary"
        (click)="onStoreCloseClick()"
        *ngIf="festival.status === 'PUBLIC' && festival.storeStatus === 'OPEN'"
      >
        <mat-icon class="material-symbols-outlined">shopping_cart_off</mat-icon>
      </button>
    </div>
  </div>

  <div class="chip-container">
    <mat-chip-set>
      <mat-chip
        selected="true"
        *ngIf="festival.status === 'PUBLIC'"
        matTooltip="Festival is visible to public"
      >
        <mat-icon class="material-symbols-outlined" color="primary"
          >visibility</mat-icon
        >
        Public
      </mat-chip>
      <mat-chip
        selected="true"
        *ngIf="festival.status === 'PRIVATE'"
        matTooltip="Only organizers of this festival can access this festival"
      >
        <mat-icon class="material-symbols-outlined" color="primary"
          >visibility_off</mat-icon
        >
        Private
      </mat-chip>
      <mat-chip
        selected="true"
        *ngIf="festival.status === 'CANCELLED'"
        matTooltip="Festival is cancelled"
      >
        <mat-icon class="material-symbols-outlined" color="primary"
          >cancel</mat-icon
        >
        Cancelled
      </mat-chip>
      <mat-chip
        selected="true"
        *ngIf="festival.status === 'COMPLETED'"
        matTooltip="Festival is completed"
      >
        <mat-icon class="material-symbols-outlined" color="primary"
          >done_all</mat-icon
        >
        Completed
      </mat-chip>
      <mat-chip
        color="primary"
        *ngIf="festival.storeStatus === 'OPEN' && festival.status === 'PUBLIC'"
        matTooltip="Attendees can purchase tickets and packages for this festival"
      >
        <mat-icon class="material-symbols-outlined" color="primary"
          >shopping_cart</mat-icon
        >
        Store Opened
      </mat-chip>
      <mat-chip
        color="primary"
        *ngIf="
          festival.storeStatus === 'CLOSED' && festival.status === 'PUBLIC'
        "
        matTooltip="Attendees cannot purchase tickets and packages for this festival"
      >
        <mat-icon class="material-symbols-outlined" color="primary"
          >shopping_cart_off</mat-icon
        >
        Store Closed
      </mat-chip>
    </mat-chip-set>
  </div>

  <div class="profile-content">
    <mat-card class="image-card">
      <img
        mat-card-image
        [src]="festival.images[currentImageIndex].url"
        [@fadeAnimation]="currentImageIndex"
        alt="Festival Image"
        class="mat-card-img-large"
      />
      <button
        class="prev-button"
        mat-icon-button
        (click)="previousImage()"
        *ngIf="festival.images.length > 1"
      >
        <mat-icon style="color: #fff !important">chevron_left</mat-icon>
      </button>

      <button
        class="next-button"
        mat-icon-button
        (click)="nextImage()"
        *ngIf="festival.images.length > 1"
      >
        <mat-icon style="color: #fff !important">chevron_right</mat-icon>
      </button>
    </mat-card>
  </div>

  <div class="profile-content">
    <mat-card class="profile-card">
      <mat-card-title>Description</mat-card-title>
      <mat-card-content>{{ festival.description }}</mat-card-content>
    </mat-card>
  </div>

  <div class="profile-content">
    <mat-card class="profile-card">
      <mat-card-title>Information</mat-card-title>
      <mat-card-content>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            calendar_month
          </mat-icon>
          {{ festival.startDate | date: "d MMM" }} -
          {{ festival.endDate | date: "d MMM yyyy" }}
        </span>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            crowdsource
          </mat-icon>
          <span class="number-mono">{{ festival.capacity }}</span> people
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card class="profile-card">
      <mat-card-title>Address</mat-card-title>
      <mat-card-content *ngIf="festival.address">
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            map
          </mat-icon>
          {{ festival.address.street }} {{ festival.address.number }}
        </span>
        <span class="icon-property">
          <mat-icon class="material-symbols-outlined" color="primary">
            location_on
          </mat-icon>
          {{ festival.address.city }}, {{ festival.address.postalCode }}
        </span>
        <span class="icon-property">
          <span
            [ngClass]="'fi fi-' + festival.address.countryISO2.toLowerCase()"
          >
          </span>
          {{ festival.address.country }}
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="profile-content">
    <mat-card class="profile-card">
      <mat-card-title>Employees</mat-card-title>
      <mat-card-content>
        <span class="big-card-count"> {{ employeesCount }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="main-card-action"
          mat-button
          color="primary"
          (click)="onViewEmployeesClick()"
        >
          View
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="profile-card">
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        <span class="big-card-count">{{ ordersCount }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="main-card-action"
          mat-button
          color="primary"
          (click)="onViewOrders()"
        >
          View
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="profile-content">
    <mat-card class="profile-card">
      <mat-card-title>Ticket Types</mat-card-title>
      <mat-card-content>
        <span class="big-card-count"> {{ ticketTypesCount }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="main-card-action"
          mat-button
          color="primary"
          (click)="onViewTicketTypesClick()"
        >
          View
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="profile-card">
      <mat-card-title>Package Addons</mat-card-title>
      <mat-card-content>
        <span class="big-card-count">{{ packageAddonsCount }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="main-card-action"
          mat-button
          color="primary"
          (click)="onViewPackageAddonsClick()"
        >
          View
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
