.full-width {
  width: 100%;
}

mat-card-header {
  margin-bottom: 20px;
}

.error-message {
  margin-top: 5px;
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  margin-top: 5px;
}

h2,
mat-dialog-title {
  font-weight: 500;
  font-family: "Funnel Display", sans-serif !important;
}

.form-fields {
  display: flex;
  justify-content: left;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

.error-message {
  margin-top: 5px;
  text-align: center;
}

h1,
strong {
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
}

.price-form {
  height: 300px;
}

.toggle-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

mat-form-field {
  width: 100%;
  margin: 5px 0 0 0 !important;
}

.cat-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
}

.cat-radio {
  width: 100%;
  z-index: 9999;
  position: relative;
}

.cat-card {
  width: 504px;
  z-index: -1;
  position: relative;
  left: -50px;
  padding-left: 45px;
  vertical-align: middle;
}

.cat-card mat-card-header {
  height: 100%;
  margin: 0;
}

mat-card-title {
  margin-left: -10px !important;
}

mat-card-title span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--mat-radio-label-text-color, var(--mat-sys-on-surface));
}
