<div class="container mat-elevation-z4" *ngIf="festival">
  <div class="profile-header">
    <div class="title-container">
      <button
        mat-icon-button
        matTooltip="Go Back"
        color="primary"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        {{ festival.name | slice: 0 : 20
        }}{{ festival.name.length > 20 ? "..." : "" }}
        <mat-icon color="primary">arrow_forward_ios</mat-icon> Camp Addons
      </h1>
    </div>
    <div class="button-container">
      <button
        mat-icon-button
        matTooltip="Add Package Addon"
        color="primary"
        (click)="onAddAddonClick()"
      >
        <mat-icon class="material-symbols-outlined" color="primary">
          add
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="chip-container">
    <mat-chip-set>
      <mat-chip>
        <span color="primary">{{ campCount }}</span>
        {{ campCount === 1 ? "Addon" : "Addons" }}
      </mat-chip>
    </mat-chip-set>
  </div>

  <div class="profile-content">
    <mat-card class="festival-card" *ngFor="let addon of campAddons">
      <img
        mat-card-image
        src="{{ addon.imageUrl }}"
        alt="{{ addon.itemName }}"
      />
      <div class="card-content">
        <div>
          <mat-card-header>
            <mat-card-title>{{ addon.itemName }}</mat-card-title>
            <mat-card-subtitle>{{ addon.itemDescription }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                attach_money
              </mat-icon>
              <span class="number">{{ addon.price.toFixed(2) }}</span>
            </span>

            <span class="icon-property">
              <mat-icon class="material-symbols-outlined" color="primary">
                numbers
              </mat-icon>
              <span class="number">{{ addon.itemRemainingNumber }}</span>
              remaining out of
              <span class="number">{{ addon.itemAvailableNumber }}</span>
            </span>

            <ng-container *ngIf="addon.equipmentNames !== ''">
              <div class="divider"></div>
              <span class="icon-property">
                <mat-icon class="material-symbols-outlined" color="primary">
                  camping
                </mat-icon>
                Included:
              </span>
              <span class="icon-property continued">
                <mat-icon class="material-symbols-outlined" color="primary">
                </mat-icon>
                {{ addon.equipmentNames }}
              </span>
            </ng-container>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <span class="spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon class="material-symbols-outlined" color="primary"
                >edit</mat-icon
              >
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-outlined" color="primary"
                >delete</mat-icon
              >
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <div class="empty-list" *ngIf="!isLoading && campCount === 0">
    <p>You do not have any General Package Addons.</p>
  </div>
</div>
