<div class="festival-container">
  <div *ngIf="isLoading" class="skeleton-container">
    <ngx-skeleton-loader
      count="6"
      class="skeleton-container"
      appearance="circle"
      [theme]="{
        width: '300px',
        height: '350px',
        margin: '16px',
        'border-radius': '16px'
      }"
    >
    </ngx-skeleton-loader>
  </div>

  <!-- Festival Cards Section -->
  <ng-container *ngIf="!isLoading" class="festival-container">
    <mat-card class="festival-card" *ngFor="let festival of festivals">
      <img
        mat-card-image
        src="{{ festival.images[0].url }}"
        alt="{{ festival.name }}"
      />
      <div class="card-content">
        <div>
          <mat-card-header>
            <mat-card-title>{{ festival.name }}</mat-card-title>
            <mat-card-subtitle>{{ festival.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <span class="festival-property">
              <mat-icon class="material-symbols-outlined">
                calendar_month</mat-icon
              >
              {{ festival.startDate | date : "d MMM" }} -
              {{ festival.endDate | date : "d MMM" }}
            </span>
            <span
              class="festival-property"
              *ngIf="festival.status == 'PRIVATE'"
            >
              <mat-icon class="material-symbols-outlined">
                visibility_off</mat-icon
              >
              Private
            </span>
            <span class="festival-property" *ngIf="festival.status == 'PUBLIC'">
              <mat-icon class="material-symbols-outlined">visibility</mat-icon>
              Public
            </span>
            <span
              class="festival-property"
              *ngIf="festival.status == 'CANCELLED'"
            >
              <mat-icon class="material-symbols-outlined">cancel</mat-icon>
              Cancelled
            </span>
            <span
              class="festival-property"
              *ngIf="festival.status == 'COMPLETED'"
            >
              <mat-icon class="material-symbols-outlined">done_all</mat-icon>
              Completed
            </span>
            <span
              class="festival-property"
              *ngIf="
                festival.storeStatus == 'OPEN' && festival.status == 'PUBLIC'
              "
            >
              <mat-icon class="material-symbols-outlined"
                >shopping_cart</mat-icon
              >
              Store Open
            </span>
            <span
              class="festival-property"
              *ngIf="
                festival.storeStatus == 'CLOSED' && festival.status == 'PUBLIC'
              "
            >
              <mat-icon class="material-symbols-outlined"
                >shopping_cart_off</mat-icon
              >
              Store Closed
            </span>
          </mat-card-content>
        </div>
        <mat-card-actions>
          <button mat-button color="primary">View</button>
          <span class="spacer"></span>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            matTooltip="Change profile information"
            aria-label="Button that opens a dialog to change profile information"
            color="primary"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon class="material-symbols-outlined">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onDeleteClick(festival)">
              <mat-icon class="material-symbols-outlined">delete</mat-icon>
              <span>Delete</span>
            </button>
            <button
              mat-menu-item
              (click)="onPublishClick(festival)"
              *ngIf="festival.status == 'PRIVATE'"
            >
              <mat-icon class="material-symbols-outlined">published</mat-icon>
              <span>Publish</span>
            </button>
            <button
              mat-menu-item
              (click)="onCancelClick(festival)"
              *ngIf="
                festival.status != 'CANCELLED' && festival.status != 'COMPLETED'
              "
            >
              <mat-icon class="material-symbols-outlined">cancel</mat-icon>
              <span>Cancel</span>
            </button>

            <button
              mat-menu-item
              (click)="onCompleteClick(festival)"
              *ngIf="festival.status == 'PUBLIC'"
            >
              <mat-icon class="material-symbols-outlined">done_all</mat-icon>
              <span>Complete</span>
            </button>

            <button
              mat-menu-item
              (click)="onStoreOpenClick(festival)"
              *ngIf="
                festival.status == 'PUBLIC' && festival.storeStatus == 'CLOSED'
              "
            >
              <mat-icon class="material-symbols-outlined"
                >shopping_cart</mat-icon
              >
              <span>Open Store</span>
            </button>

            <button
              mat-menu-item
              (click)="onStoreCloseClick(festival)"
              *ngIf="
                festival.status == 'PUBLIC' && festival.storeStatus == 'OPEN'
              "
            >
              <mat-icon class="material-symbols-outlined"
                >shopping_cart_off</mat-icon
              >
              <span>Close Store</span>
            </button>
          </mat-menu>
        </mat-card-actions>
      </div>
    </mat-card>
  </ng-container>
</div>
