<div class="festival-container">
  <mat-card class="festival-card" *ngFor="let festival of festivals">
    <img
      mat-card-image
      src="https://uploads.tomorrowland.com/containers/assets/welcome/memory-lane/2023-1.jpg/a9f7c4eed642a86d325ba57d93eadec9/2023-1.jpg"
      alt="{{ festival.name }}"
    />
    <mat-card-header>
      <mat-card-title>{{ festival.name }}</mat-card-title>
      <mat-card-subtitle>{{ festival.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button color="primary">See Festival</button>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item>
          <mat-icon>share</mat-icon>
          <span>Share</span>
        </button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
