<h2 mat-dialog-title>Create Package Addon</h2>

<mat-dialog-content>
  <mat-radio-group [(ngModel)]="selectedType" class="cat-group">
    @for (category of types; track category) {
      <mat-radio-button
        [value]="category.value"
        class="cat-radio"
        color="primary"
      >
        <mat-card class="cat-card">
          <mat-card-header>
            <mat-card-title class="ai-text-shadow">
              {{ category.viewValue }}
              <span class="cat-description">
                - {{ category.description }}</span
              ></mat-card-title
            >
          </mat-card-header>
        </mat-card>
      </mat-radio-button>
    }
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button (click)="choose()" [disabled]="!selectedType">
    Create Addon
  </button>
</mat-dialog-actions>
