<div class="container mat-elevation-z4" *ngIf="festival">
  <div class="profile-header">
    <div class="title-container">
      <button
        mat-icon-button
        matTooltip="Go Back"
        color="primary"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        {{ festival.name | slice: 0 : 20
        }}{{ festival.name.length > 20 ? "..." : "" }}
        <mat-icon color="primary">arrow_forward_ios</mat-icon> Ticket Store
      </h1>
    </div>
    <div class="button-container"></div>
  </div>

  <div class="profile-content">
    <mat-stepper
      orientation="vertical"
      [linear]="true"
      #stepper
      class="store-stepper"
    >
      <!-- ! TICKET SELECTION -->
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel> Select Ticket </ng-template>
          <div class="profile-content profile-content-with-cards">
            <mat-card
              class="festival-card"
              (click)="selectTicket(ticket)"
              *ngFor="let ticket of tickets"
            >
              <div
                class="card-content ai-shadow-card"
                [ngClass]="{ selected: ticket === selectedTicket }"
              >
                <div>
                  <mat-card-header>
                    <mat-card-title>{{ ticket.name }}</mat-card-title>
                    <mat-card-subtitle>{{
                      ticket.description
                    }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <span class="icon-property">
                      <mat-icon
                        class="material-symbols-outlined"
                        color="primary"
                      >
                        attach_money
                      </mat-icon>
                      <span class="number">{{ ticket.price }}</span>
                    </span>
                  </mat-card-content>
                </div>
                <mat-card-actions>
                  <span class="spacer"></span>
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    color="primary"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon
                        class="material-symbols-outlined"
                        color="primary"
                        >edit</mat-icon
                      >
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon
                        class="material-symbols-outlined"
                        color="primary"
                        >delete</mat-icon
                      >
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </mat-card-actions>
              </div>
            </mat-card>
          </div>
          <div>
            <button mat-stroked-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <!-- ! PERSONAL INFORMATION -->
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel> Personal Information </ng-template>
          <div class="form-fields">step 2</div>
        </form>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- ! SHIPPING INFORMATION -->
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel> Shipping Information</ng-template>
          <div class="form-fields">step 3</div>
        </form>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- ! SUMMARY -->
      <mat-step [stepControl]="infoFormGroup">
        <form [formGroup]="infoFormGroup">
          <ng-template matStepLabel>Summary</ng-template>
          <div class="form-fields">step 4</div>
        </form>
        <div>
          <button
            mat-fab
            extended
            color="primary"
            (click)="purchase()"
            class="ai-shadow"
          >
            <mat-icon class="material-symbols-outlined">
              list_alt_check
            </mat-icon>
            Complete Purchase
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
